@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


::-webkit-scrollbar {
    width: 0px;    /* Hides the vertical scrollbar */
    height: 0px;   /* Hides the horizontal scrollbar */
}

* {
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}

body {
    font-family:'Poppins',sans-serif;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

p {
    color: white;
    font-size: 25px;
    font-weight: 550;
}

.preserve-whitespace {
    white-space: pre-wrap;
}

.habitshowcase{
    margin: 15px;
    width: 550px;
}

.schedcard p{
    color: white;
    margin: 4px 0;
}

.small {
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.padding{
    margin: 40px 0;
}

.centered-container {
    min-height: 100vh;  /* Ensures at least full viewport height */
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;  /* Prevents content from touching edges */
}

.centered-container-new {
    min-height: 100vh;  /* Ensures at least full viewport height */
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;  /* Prevents content from touching edges */
}

.arrange-horizontal {
    display: flex; /* Enables flexbox layout */ /* Adds spacing between items */
}

.arrange-horizontal-navbar {
    display: flex;
    flex-direction: row; /* Ensures horizontal alignment */
    gap: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Ensure it spans full width */
    /*background: rgb(0, 43, 0); /* Background for visibility */
    padding: 10px;
    z-index: 1000;
}

.arrange-horizontal-navbar h1{
    position: absolute;
    right: 80px; /* Fixes h1 to the right */
    top: 50%;
    transform: translateY(-95%); /* Centers it vertically */
    font-size: 40px;
    color: #EAB03C;
}

.auth h1{
    font-size: 50px;
    color: #EAB03C;
    margin-top: 0px;
}

.auth h3{
    color: white;
    font-size: 24px;
    margin-bottom: 0px;
}


.arrange-horizontal-grid {
    display: grid;
    grid-template-columns: 180px 180px 180px 180px 200px; /* Adjust column sizes */
    align-items: center;
    margin: 20px 0;
}

/* From Uiverse.io by liyaxu123 */ 
.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 160px;
}

.login{
    width: 300px;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 20px;
    color: #fff;
}

.form-control input:focus, 
.form-control input:valid{
    outline: 0;
    border-bottom-color: #EAB03C;
}

.form-control label{
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none; 
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    color: #fff;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
    color: #EAB03C;
    transform: translateY(-30px);
}

.schedcard {
    width: 600px;
    height: 100px; /* Keeps a consistent height before hover */
    padding: 0.5rem;
    background: #c7c7c757;
    border-radius: 8px;
    backdrop-filter: blur(5px);
    border-bottom: 3px solid rgba(173, 255, 47, 0.440);
    border-left: 2px rgba(173, 255, 47, 0.545) outset;
    box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
    transform: skewX(10deg);
    transition: all 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.schedcard:hover {
    /*height: auto; /* Expands to fit content */
    height: 300px; /* Prevents excessive growth but can remove if needed */
    transform: skew(0deg);
    overflow-y: auto;
}

.schedcard:not(:hover) {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.schedcard h1 {
    text-align: center;
    margin: 1.3rem;
    color: #EAB03C;
    text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
}


.googlebtn button{
    max-width: 320px;
    display: flex;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    gap: 0.75rem;
    color: rgb(65, 63, 63);
    background-color: #fff;
    cursor: pointer;
    transition: all .6s ease;
}

.googlebtn svg {
    height: 24px;
}

.googlebtn button:hover {
    transform: scale(1.02);
}

.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 20px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #EAB03C;
    box-shadow: 0 0 0 2px #EAB03C;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    margin: 10px 15px 10px 0;
}
  
.animated-button svg {
    position: absolute;
    width: 24px;
    fill: #EAB03C;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
    right: 16px;
}

.animated-button .arr-2 {
    left: -25%;
}

.animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #EAB03C;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
}

.animated-button:hover .arr-1 {
    right: -25%;
}

.animated-button:hover .arr-2 {
    left: 16px;
}

.animated-button:hover .text {
    transform: translateX(12px);
}

.animated-button:hover svg {
    fill: #212121;
}

.animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px #EAB03C;
}

.animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}

.container {
    cursor: pointer;
}

.container input {
    display: none;
}

.container svg {
    overflow: visible;
}

.path {
    fill: none;
    stroke: #EAB03C;
    stroke-width: 8;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;
}

.container input:checked ~ svg .path {
    stroke-dasharray: 70.5096664428711 9999999;
    stroke-dashoffset: -262.2723388671875;
}


.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    height: 300px;
    width: 250px;
    border-radius: 10px;
    background-color: #ff0000;
    color: white;
    cursor: pointer;
    transition: 400ms ease;

    position: fixed;
    top: 32%;
    left: 42%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.centered-container-new > *:not(.card) {
    filter: blur(10px);
    transform: scale(0.9);
    transition: filter 0.2s ease, transform 0.2s ease;
}
/*tasksectcardcode here*/

/*
.textareacontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #121212;
}*/

textarea {
    display: flex;
    margin: 10px 0px 10px;
    justify-content: center;
    width: 700px;
    max-width: 90%;
    height: 400px;
    padding: 20px;
    resize: none;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    background-color: #212121;
    border: 3px solid #EAB03C;
    user-select: none;
    -webkit-user-select: none;
    outline: none;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

textarea:focus {
    background-color: rgba(199, 199, 199, 0.34);
}

/* From Uiverse.io by mobinkakei */ 
.wrapper {
    width: 200px;
    height: 60px;
    position: relative;
    margin: 50px;
    z-index: 1;
}

.round {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #EAB03C;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
}

.habitcard{
    display: flex;
    margin: 20px;
    justify-content: center;
    width: 100px;
    max-width: 90%;
    height: 20px;
    padding: 20px;
    resize: none;
    border-radius: 20px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: #EAB03C;
}

@keyframes circle7124 {
    0% {
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }

    40% {
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }

    100% {
        top: 0%;
    }
}

.round:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
}

.round:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
    0% {
        transform: scaleX(1.5);
    }

    40% {
        transform: scaleX(1);
        opacity: .7;
    }

    100% {
        transform: scaleX(.2);
        opacity: .4;
    }
}

.shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
}

.shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}


.App {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.input-container {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    margin-right: 10px;
}

button {
    padding: 10px;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: grid;
    grid-template-columns: 70px 280px 170px; /* Adjust column sizes */
    align-items: center;
    margin: 3px 0;
}

.schedcard li{
    display: grid;
    grid-template-columns: 30px 250px 100px 240px; /* Adjust column sizes */
    align-items: center;
    margin: 3px 0;
}

.habitfeatures{
    display: grid;
    grid-template-columns: 60px 180px 200px 200px; /* Adjust column sizes */
    align-items: center;
    margin: 3px 0;
}

li button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

li button:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 1100px) {

    .form-control {
        width: 140px;
    }

    .form-control input {
        font-size: 18px;
        padding: 15px 0;
    }

    .form-control label span {
        font-size: 15px;
    }

    .arrange-horizontal-grid {
        display: grid;
        grid-template-columns: 1fr; /* Single column */
        grid-auto-rows: auto; /* Rows adjust to content */
        align-items: center;
        justify-items: center;
        gap: 10px; /* Optional: Adds spacing between rows */
        margin: 20px 0;
    }

    .schedcard{
        width: 250px;
        height: 50px;
    }

    .schedcard:hover{
        height: 150px;
    }

    .schedcard li{
        grid-template-columns: 1px 90px 20px 110px;
    }

    .schedcard h1 {
        font-size: 18px;
        margin: 0.2rem;
    }

    .arrange-horizontal {
        flex-direction: column;
        gap: 10px;
    }

    .animated-button {
        width: 120px;
        padding: 12px;
    }

    .animated-button .text {
        font-size: 13px;
        transform: translateX(0px);
    }

    .animated-button:hover .text {
        transform: translateX(30px);
    }

    .task-item {
        font-size: 14px;
        padding: 10px;
    }

    li {
        grid-template-columns: 50px 130px 100px; /* Adjust column sizes */
    }

    .habitfeatures{
        grid-template-columns: 150px 110px;
    }

    p {
        font-size: 16px;
        font-weight: 550;
    } 

    textarea{
        width: 350px;
        height: 200px;
    }

    .card{
        top: 30%;
        left: 17%;
    }

    .auth h1{
        font-size: 28px;
    }

    .auth h3{
        font-size: 15px;
    }

}
  
@media only screen and (min-width: 1920px) {
   
}
  
  